tmp/

files/bin/*
!files/bin/fix_av
!files/bin/git-freeze
!files/bin/git-thaw
!files/bin/install_ruby

lib/gnupg/*
!lib/gnupg/osx/gpg.conf
!lib/.gnupg/osx/gpg-agent.conf
!lib/gnupg/linux/gpg.conf
!lib/gnupg/linux/gpg-agent.conf

files/.vim/bundle/
