[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name  = Izaak Alpert (karlhungus)
	email = ialpert@salesforce.com
  signingkey = 02C0625B8103869A
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
[push]
  default = simple
[pull]
  rebase = true
[color]
  ui = true
[merge]
  conflictstyle = diff3
[commit]
  gpgsign = true
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[rebase]
  autoStash = true
