[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name  = Izaak Alpert (karlhungus)
  email = ialpert@gmail.com
  signingkey = 0910C7D50D681B42
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
[push]
  default = simple
[pull]
  rebase = true
[color]
  ui = true
[merge]
  conflictstyle = diff3
[commit]
  gpgsign = true
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[rebase]
  autoStash = true
[url "git@github.com:"]
  insteadOf = "https://github.com/"
[pager]
  branch = false
[hub]
  host = https://git.dev.pardot.com
[fetch]
  prune = true
	branch = false
